nodered.json
[
  {
    "id": "mqtt-in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "MQTT Telemetría",
    "topic": "greendelivery/trackers/telemetry",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "nl": false,
    "rh": 0,
    "x": 190,
    "y": 120,
    "wires": [["validate"]]
  },
  {
    "id": "validate",
    "type": "function",
    "z": "flow1",
    "name": "Validar JSON",
    "func": "let p;\ntry{ p = (typeof msg.payload==='string') ? JSON.parse(msg.payload) : msg.payload; }catch(e){ return [null,{error:'INVALID_JSON',raw:msg.payload}]; }\nconst errs=[];\nfunction reqNum(k){ if(typeof p[k] !== 'number') errs.push(k); }\nfunction reqStr(k){ if(typeof p[k] !== 'string') errs.push(k); }\n['seq','temperature_c','humidity_pct','g_force','vibration_rms','tilt_deg','gps_lat','gps_lon','speed_kmh'].forEach(reqNum);\n['package_id','timestamp_emitted'].forEach(reqStr);\nif(errs.length){ return [null,{error:'SCHEMA_ERROR',fields:errs,raw:p}]; }\n// añade sello de tiempo de Node-RED para latencia\np.node_red_received_at = new Date().toISOString();\nmsg.payload = p;\nreturn [msg,null];",
    "outputs": 2,
    "x": 420,
    "y": 120,
    "wires": [["prep"], ["debug-err"]]
  },
  {
    "id": "prep",
    "type": "function",
    "z": "flow1",
    "name": "Prep HTTP",
    "func": "msg.headers = { 'Content-Type':'application/json' };\n// OJO: como Node-RED está en Docker, usa el nombre del servicio\nmsg.url = 'http://ingest_api:8000/ingest';\nmsg.method='POST';\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
    "x": 630,
    "y": 120,
    "wires": [["http"]]
  },
  {
    "id": "http",
    "type": "http request",
    "z": "flow1",
    "name": "POST /ingest (retry)",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": true,
    "proxy": "",
    "authType": "",
    "senderr": true,
    "x": 880,
    "y": 120,
    "wires": [["status-check"]]
  },
  {
    "id": "status-check",
    "type": "function",
    "z": "flow1",
    "name": "¿OK o reintento?",
    "func": "const sc = msg.statusCode;\nif (sc>=200 && sc<300){ node.status({fill:'green',shape:'dot',text:'OK '+sc}); return [msg,null,null]; }\nif (sc===429 || (sc>=500 && sc<600)){\n  msg.attempt = (msg.attempt||0)+1;\n  const delay = Math.min(30000, 1000*Math.pow(2,msg.attempt));\n  node.status({fill:'yellow',shape:'ring',text:'Retry '+msg.attempt+' en '+delay+'ms'});\n  msg.delay = delay; return [null,msg,null];\n}\nnode.status({fill:'red',shape:'ring',text:'Error '+sc});\nreturn [null,null,{error:'HTTP_ERROR',statusCode:sc,body:msg.payload}];",
    "outputs": 3,
    "x": 1090,
    "y": 120,
    "wires": [["debug-ok"], ["delay"], ["debug-err"]]
  },
  {
    "id": "delay",
    "type": "delay",
    "z": "flow1",
    "name": "Backoff",
    "pauseType": "delayv",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "x": 1270,
    "y": 120,
    "wires": [["retry-link-out"]]
  },
  {
    "id": "retry-link-out",
    "type": "link out",
    "z": "flow1",
    "name": "Retry HTTP",
    "mode": "link",
    "links": ["retry-link-in"],
    "x": 1430,
    "y": 120,
    "wires": []
  },
  {
    "id": "retry-link-in",
    "type": "link in",
    "z": "flow1",
    "name": "",
    "links": ["retry-link-out"],
    "x": 800,
    "y": 180,
    "wires": [["http"]]
  },
  {
    "id": "debug-ok",
    "type": "debug",
    "z": "flow1",
    "name": "OK",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "true",
    "targetType": "full",
    "x": 1270,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug-err",
    "type": "debug",
    "z": "flow1",
    "name": "Inválido/Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "true",
    "targetType": "full",
    "x": 1300,
    "y": 160,
    "wires": []
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-sub-telemetry",
    "usetls": false,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": false
  }
]
